<!DOCTYPE html>

<style>

    .button {
      background-color: black;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 12px;
      transition-duration: 0.4s;
      margin: 0 100px;
    }
    .button:hover {
      background-color: white;
      color: black;
    }

</style>

<html>
    <body>
        <h2>Welcome to Alphabet Guessing Game v1.0 </h2>
        <h3> Secret word </h3>
        <a href="/" class="button">Begin</a>
        <a href="/" class="button">Back</a>
    </body>
</html>